body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
.card {
  padding: 1rem;
  border-radius: 40px;
  background-color: #fff;
  margin-top: 4rem;
  text-align: center;
}
.image {
  border-radius: 20px;
  max-width: 340px;
  margin: 1px 1px 2px 1px;
}
.text {
  font-size: 15px;
  font-weight: 700;
}
.first-text {
  font-weight: 700;
}
.second-text {
  font-weight: 700;
}
